<configuration>
  <property name="sklog.path" value="./logs"/>
  <property name="sklog.prefix" value="org.shaneking.ling.test"/>
  <property name="sklog.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %thread %logger:%line - %msg%n"/>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${sklog.pattern}</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>${sklog.pattern}</pattern>
      <charset>UTF-8</charset>
    </encoder>
    <file>${sklog.path}/${sklog.prefix}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- Rolling Policy: By Date By Size -->
      <fileNamePattern>${sklog.path}/${sklog.prefix}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>32</maxHistory><!-- Day -->
      <totalSizeCap>5GB</totalSizeCap>
    </rollingPolicy>
  </appender>
  <!-- http://logback.qos.ch/manual/appenders.html#AsyncAppender -->
  <appender name="CONSOLE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <discardingThreshold>0</discardingThreshold>
    <queueSize>256</queueSize>
    <appender-ref ref="CONSOLE"/>
  </appender>
  <appender name="FILE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <discardingThreshold>0</discardingThreshold>
    <queueSize>256</queueSize>
    <appender-ref ref="FILE"/>
  </appender>
  <root level="DEBUG">
    <appender-ref ref="CONSOLE_ASYNC"/>
    <appender-ref ref="FILE_ASYNC"/>
  </root>
</configuration>
